.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    font-size: 28px;
    margin: 0 13px;
    padding: 3px 4px;
    cursor: pointer;

}
.fa-heart{
    color: #f44336;
    
}
.fa-facebook{
    color: #0540ac;
}
.fa-instagram{
    color: #ba66f1;
   
    border-radius: 4px;
}
.fa-linkedin{
    color: #fff;
    background: #085dcc;
   border-radius: 4px;
}
.fa-twitter{
    color: #368ff4;
}